<div class="brand_color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Brand</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand">
    <div class="container">

    </div>
    <div class="brand-bg">
        <div class="container">
            <div class="row">
                <% data.brand_list.map(brand =>{ %>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <img src="/assets/media/logo-brand/<%= brand.logo.name %>" alt="<%= brand.name %>"/>
                            <h3><strong><%= brand.name %></strong></h3>
                        </div>
                    </div>

                <% }) %>
            </div>
        </div>
    </div>
</div>
<%- contentFor('script') %>

<%- contentFor('style') %>
