<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="container-fluid pt-4 px-4 bg-secondary rounded"
                 style="position:sticky; z-index:1000; top: 64px">
                <div class="row g-4">
                    <div class="col-sm-2 col-xl-2">
                        <h6>Product Table</h6>
                    </div>
                    <div class="col-sm-7 col-xl-7" style="transform: translateY(-12px);">
                        <%- include('../../partials/admin/search-box') %>
                    </div>
                    <div class="col-sm-2 col-xl-2" style="text-align: end;margin: 1rem;">
                        <a href="product/new">
                            <button class="btn btn-success"><i class="fa-solid fa-plus me-2"></i>New</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bg-secondary rounded h-100 p-4 mt-3">
                <% if(data.product_list.length > 0 ){ %>
                    <%- include('../../partials/admin/product-table', {product_list: data.product_list}) %>
                <% } else { %>
                    <%- include('../../partials/admin/blank', {content: 'There are no product yet!'}) %>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- contentFor('script') %>
<script>
    $("#input_search_product").on("keydown", function(event) {
        if(event.code == "Enter") {
            const search_name = $('#input_search_product').val()
            if(search_name.trim() !== ''){
                location.href = `/admin/product/search/${search_name}`
            }
        }
    })

    $('#btn_search_product').click(function (){
        const search_name = $('#input_search_product').val()
        if(search_name.trim() !== ''){
            location.href = `/admin/product/search/${search_name}`
        }
    })

    $('.btn-edit-product').click(function (){
        const product_id = $(this).data('product-id')
        location.href = `/admin/product/edit/${product_id}`
    })

    $('.btn-see-product-detail').click(function (){
        const product_id = $(this).data('product-id')
        window.open(`/product/detail/${product_id}`, '_blank');
    })

    let cancel_order_id = 0
    $('.btn-delete-product').click(function (){
        delete_product_id = $(this).data('product-id')
        $('#btn_open_confirm_modal').click()
    })
    $('#btn_ok_delete').click(function (){
        $('#btn_close_confirm_modal').click()
        $.ajax({
            url: '/admin/product/delete',
            type: 'DELETE',
            data: {product_id: delete_product_id},
            dataType: 'json',
            beforeSend: LoadingWrapper(true),
            success: function (response){
                if(response.code === 203 || response.code === 404){
                    location.href = '/admin/product'
                } else {
                    alert('Fail delete product!')
                }
                LoadingWrapper(false)
            },
            error: function (error){
                LoadingWrapper(false)
                alert('Something went wrong!')
            }
        })
    })
</script>

<%- contentFor('style') %>
<link href="/assets/css/discount-price.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/search-box.css" rel="stylesheet" type="text/css"/>
