<footer>
    <div id="contact" class="footer">
        <div class="container">
            <div class="row pdn-top-30">
                <div class="col-md-12 ">
                    <div class="footer-box">
                        <div class="headinga">
                            <h3>Address</h3>
                            <span><%= page_info.website.location %></span>
                            <p><%= page_info.website.phone %>
                                <br><%= page_info.website.email %></p>
                        </div>
                        <ul class="location_icon">
                            <li> <a href="<%= page_info.website.facebook %>"><i class="fa-brands fa-facebook"></i></a></li>
                            <li> <a href="<%= page_info.website.twitter %>"><i class="fa-brands fa-twitter"></i></a></li>
                            <li> <a href="<%= page_info.website.instagram %>"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                        <div class="menu-bottom">
                            <ul class="link">
                                <li> <a href="/">Home</a></li>
                                <li> <a href="/brand">Brand </a></li>
                                <li> <a href="/product">Product</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>