<% function NavActivated(title, activated){
    return title === activated ? "active" : ""
} %>

<header>
    <!-- header inner -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="#"><img src="/assets/media/decoration/dphone-logo.png" alt="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li class="nav-hover"><a href="/" class="<%= NavActivated("Home", page_info.title) %>">Home</a> </li>
                                    <li class="nav-hover"><a href="/brand" class="<%= NavActivated("Brand", page_info.title) %>">Brand</a></li>
                                    <li class="nav-hover"><a href="/product" class="<%= NavActivated("Product", page_info.title) %>">Product</a></li>
                                    <% if(page_info.has_login){ %>
                                        <li class="nav-hover"><a href="/profile"><i class="fas fa-user-circle" style="font-size: 1.5rem"></i></a></li>
                                        <li class="nav-hover"><a id="btn_logout" href="#"><i class="fas fa-sign-out-alt" style="font-size: 1.5rem"></i></a></li>
                                    <% } else { %>
                                        <li class="nav-hover"><a href="/security/login"><i class="fas fa-sign-in-alt" style="font-size: 1.5rem"></i></a></li>
                                    <% } %>
                                    <li class="nav-hover"><a href="/cart"><i class="fas fa-cart-plus"   style="font-size: 1.5rem"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 offset-md-6">
                    <div class="location_icon_bottum">
                        <ul>
                            <li><img src="/client/icon/call.png" /><%= page_info.website.phone %></li>
                            <li><img src="/client/icon/email.png" /><%= page_info.website.email %></li>
                            <li><img src="/client/icon/loc.png" /><%= page_info.website.location %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
</header>