<div class="container-fluid">
    <div class="row" id="product_list_container">
        <% product_list.map((product) =>{ %>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 margin">
                <a href="/product/detail/<%= product._id %>">
                    <div class="brand_box">
                        <img src="/assets/media/product/<%= product.images[0] ? product.images[0].filename : '' %>"
                             alt="<%= product.name %>"/>
                        <h3>
                            <% if(product.is_discount) { %>
                                <div style="color: red">
                                    <span style="display: inline-block!important;color: green;font-size: 28px;">$</span><%= product.price - (product.price * (product.discount / 100)) %>
                                    <s class="s-secondary"><span
                                                style="display: inline-block!important;font-size: x-large;">$<%= product.price %></span></s>
                                </div>

                            <% } else { %>
                                <div class="d-inline" style="color: red">
                                    <span style="color: green; display: inline-block!important;font-size: 28px;">$</span><%= product.price %>
                                </div>
                            <% } %>
                        </h3>
                        <span style="font-size: x-large; margin-top: 1rem"><%= product.name %></span>
                        <% do { product.rating-- %>
                        <i><img src="/client/images/star.png"/></i>
                        <% }while(product.rating > 0) %>
                    </div>
                </a>
            </div>
        <% }) %>
    </div>
</div>